{% extends 'base.html' %}
 <title>{% block title %}Home{% endblock %}</title></head>


{% block content %}

 <br>
 <br> 
 
<div class="container">
    <h3>All Donors</h3><hr>
    <div class="row">
         <div class="col-sm-1">
           <h4>Filters: </h4>
         </div>
         <div class="col-sm-11">
           <form action="" method="get">
                {{donorfilter.form}}
                <button class="btn btn-primary">Search</button>
            </form>
        </div>
           
    </div> 
    <div class="row">
        {% for donor in alldonors %}
        <div class="col-md-3">
            <div class="m-4">
            <h4><a href="#">{{donor.name}}</a></h4>
            <h4>{{donor.age}} | {{donor.Blood_Group}}  </h4>
            <h4>{{donor.city}}</h4>
            <p class="mt-3">When Recovered:  {{donor.when_Recovered|timesince}} ago</p>
            <a href="{% url 'plasmadonor:request' donor.id %}" class="btn btn-primary">Request For Plasma</a>
            </div>
        </div>
        {% empty %}
        <h4 class="col-md-6 offset-md-3"> No Donor found as per your filter. </h4>
        {% endfor %}
 </div>
</div>
  
{% endblock %}
