{% extends 'base.html' %}
 <title>{% block title %}Home{% endblock %}</title></head>


{% block content %}

 <br>
 <br> 
 
<div class="container">
    <h3>Donor made by me</h3><hr>
    <div class="row">
        {% for don in my_donor %}
        <div class="col-md-3">
            <div class="m-4">
            <h4><a href="#">{{don.name}}</a></h4>
            <h4>{{don.city}}</h4>
            <p class="mt-3">when Recovered:  {{don.when_Recovered}}</p>
            <a href="{% url 'plasmadonor:deldonor' don.id %}?action=del" class="btn btn-primary"> Delete Donor</a>
            </div>
        </div>
        {% empty %}
        <h4 class="col-md-6 offset-md-3"> No Record Found</h4>
        {% endfor %}
 </div>
</div>
  
{% endblock %}