{% extends 'base.html' %}
 <title>{% block title %}Home{% endblock %}</title></head>


{% block content %}

 <br>
 <br> 
 
<div class="container">
    <h3>All Requests made by you</h3><hr>
    <div class="row">
        {% for order in orders %}
        <div class="col-md-6">
         <div class="card text-center">
          <div class="card-header">
            Request status:  {{order.order_status}}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{order.donor.name}}</h5>
            <p class="card-text">Donor Description: {{order.donor.description}}</p>
            <a class="btn btn-primary">{{order.donor.city}}</a>
          </div>
          <div class="card-footer text-muted">
            Request made {{order.created_at|timesince}} ago
          </div>
        </div>
       </div>
        {% empty %}
        <h4 class="col-md-6 offset-md-3"> No Record Found</h4>
        {% endfor %}
  </div>
</div>
 

  
{% endblock %}