  
{% extends 'base.html' %}

{% block title %}Add New Dnot{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h3>Add New Donor</h3>
            <hr>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-info">Submit Data</button>
            </form>
            <h3>Note</h3>
            <ul>
              <li>Please enter the date in YYYY-MM-DD format, else form will not submit.</li>
              <li>Your Contact number will not be displayed until you accept the request.</li>
              <li>You can Delete your Donor in 'Manage Donor' section</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
